		td {
			font-family: 宋体;
			font-size: 12px;
			line-height: 150%
		}

		.bd0 {
			border: 0px
		}

		.bd1 {
			border: 1px solid #888888
		}

		.bd2 {
			border: 2px solid #000000
		}

		.dTop {
			border-top: 1px solid #000000
		}

		.dBot {
			border-bottom: 1px solid #000000
		}

		.dRig {
			border-right: 1px solid #888888
		}

		.dLef {
			border-left: 1px solid #888888
		}

		.dRB {
			border-right: 1 solid #000000;
			border-bottom: 1 solid #000000
		}

		.dRT {
			border-right: 1 solid #000000;
			border-top: 1 solid #000000
		}

		.dBot2 {
			border-bottom: 1px solid #C0C0C0
		}

		.dTop2 {
			border-top: 1px solid #C0C0C0
		}
